<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>韓 에이전트에 성희롱 메시지…EPL 첼시 임원 바로 해고</title>
</head>
<body>
{% extends 'index.html'%}
{% block content %}
<h1>EPL, 초반 67경기서 198골…현 흐름이면 역대 시즌 최다골</h1>
    <h2>&nbsp</h2>

<h3>잉글랜드 프로축구 프리미어리그(EPL) 첼시 구단의 임원이 한국인 에이전트에게 성희롱이 담긴 메시지를 보낸 사실이 밝혀져 해고됐다.

첼시 대변인은 21일(현지시간) “구단 커머셜 디렉터인 데이미언 윌러비와 고용계약을 즉시 종료했다”고 밝혔다.

구단 측은 윌러비가 첼시에 부임하기 전에 부적절한 메시지를 보냈다는 증거를 확보했다.

영국 스카이스포츠 등에 따르면 월러비는 유럽 축구 에이전트로 활동하는 한국인 카탈리나 킴 C＆P스포츠 최고경영자(CEO)에게 성적인 내용이 담긴 메시지와 동영상 등을 보낸 것으로 확인됐다.

카탈리나 킴이 여러 차례 거부 의사를 밝혔음에도 부적절한 언행은 반복된 것으로 알려졌다.

사건을 조사한 첼시는 결국 윌러비를 해고했다. 이달 초 디렉터로 선임한 지 약 2주 만이다.

첼시는 “해당 행위가 고용 전에 일어났지만 이는 새 소유주가 확립한 구단 문화에 절대적으로 반하는 것”이라고 설명했다.</h3>
{% endblock %}
</body>
</html>