<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'index.html'%}
{% block content %}
<h1>EPL, 초반 67경기서 198골…현 흐름이면 역대 시즌 최다골</h1>

        <h2>&nbsp</h2>

<h3>[서울=뉴시스]박지혁 기자 = 잉글랜드 프로축구 프리미어리그(EPL)가 시즌 초반 화려한 골 잔치로 팬들을 사로잡고 있다.

22일(한국시간) EPL에 따르면, 지난달 6일 개막한 2022~2023시즌 초반 67경기에서 터진 골은 모두 198골이다. 경기당 2.96골이 나왔다.

현 흐름이 내년 5월 시즌 막판까지 이어진다는 가정아래 단순 수치 계산하면 총 1123골까지 기대할 수 있다.

이는 2018~2019시즌 세운 EPL 역대 한 시즌 최다 1072골 기록을 넘어서는 것이다. 경기당 2.82골을 기록했다.

associate_pic
[서울=뉴시스]해트트릭 후 활짝 웃은 손흥민. (캡처=토트넘 소셜네트워크서비스)

지난 시즌에 기록 경신이 보였지만 단 한 골 차이로 넘지 못했다. 2021~2022시즌에는 총 1071골을 기록, 평균 2.81골을 기록했다.

리버풀이 지난달 본머스를 상대로 EPL 역대 최다골 차와 타이를 이루는 9-0 대승을 거두는 등 최소 6골 이상 나온 경기가 7경기나 됐다.

EPL에 데뷔한 괴물 공격수 엘링 홀란(맨체스터 시티)의 득점 행진도 힘을 보탰다.

홀란은 2경기 연속 해트트릭을 기록하는 등 리그 7경기에서 11골을 몰아치며 득점 순위에서 압도적인 단독 선두에 자리했다.

공동 2위 알렉산드르 미트로비치(풀럼), 해리 케인(이상 6골·토트넘)에게 5골이나 앞서 있다.

EPL은 "지난 시즌 공동 득점왕 손흥민(토트넘)이 폼을 되찾고 있고, 모하메드 살라(리버풀)가 아직 본격적으로 득점 경쟁에 뛰어들지 않은 상황이다"며 최다골 기록에 대한 기대감을 드러냈다.

손흥민(3골)은 초반 골 침묵으로 고전하다가 지난 18일 레스터 시티와 7라운드에서 해트트릭을 몰아치며 감각을 되찾았다. 살라는 2골을 기록 중이다.</h3>
{% endblock %}
</body>
</html>