<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news1</title>
</head>
<body>
{% extends 'index.html'%}
{% block content %}
<h1>'경기장 난입하면 1년 출입 금지'…EPL, 훌리건 제재 강화</h1>

        <h2>&nbsp</h2>

    <h3>(서울=연합뉴스) 장보인 기자 = 잉글랜드 프로축구 프리미어리그(EPL)가 경기장에서 난동을 부리는 팬들에게 최소 1년간 '출입 금지령'을 내린다.

EPL 사무국은 21일(현지시간) 홈페이지를 통해 "경기장에서 반사회적이고 범죄적인 행동을 하는 서포터는 최소 1년간 경기장 출입을 금지한다"고 발표했다.

구단들은 이날 리그 주주총회에서 만장일치로 최소 기간 출입 금지령을 도입하는 데 합의했다.


이 규정은 경기장에 무단으로 침입하거나 조명탄, 연막탄 등을 소지 또는 사용하는 경우, 물건을 집어 던지는 경우 자동으로 적용된다. 범죄 행위와 마약 복용 등도 물론 제재 대상이다.


해당 방침은 즉시 효력을 발휘하며, 금지 조처는 홈과 원정 경기에 모두 적용된다.

EPL은 "어린이가 이 같은 행동을 할 경우 동행한 부모와 보호자에게도 금지령이 내려질 수 있다"고 설명했다.

잉글랜드는 눈살을 찌푸리게 하는 일부 축구 팬들의 도 넘은 행동으로 골머리를 앓아 왔다.

앞서 5월 애스턴 빌라 골키퍼 로빈 올슨은 2021-2022시즌 맨체스터 시티와 EPL 최종전이 끝난 뒤 그라운드에 난입한 팬들에게 폭행을 당했고, 노팅엄 포리스트의 한 팬은 지난 시즌 챔피언십(2부)에서 셰필드 유나이티드 주장 빌리 샤프를 머리로 들이받아 수감됐다.

토트넘 홋스퍼 수비수 에릭 다이어는 최근 영국 BBC와 인터뷰에서 팬들의 위협적인 행동이 점점 심각해지고 있으며, 가족들을 원정 경기에 데려갈 수 없을 지경이라고 호소했다.

잉글랜드축구협회(FA)와 EPL, 잉글리시풋볼리그(EFL)는 7월 팬들의 부적절한 행동에 관해 더 강력한 제재를 가하기로 뜻을 모았다.

FA는 자동 출입 금지에 더해 그라운드에 탐지견 배치를 확대하고, 소셜미디어 플랫폼과 협력해 팬들이 올리는 불법 동영상을 빠르게 삭제하는 등의 조처를 하기로 했다.</h3>
{% endblock %}
</body>
</html>